{% extends "base.html" %}
{% block content %}
  <div class="Brazilian-container">
    <div id="Brazilian-checkout">
      <h1>Modificar Datos de empleado</h1>

      <form class="Brazilian-form" method="post">
        {{ form.hidden_tag() }}

        <div class="Brazilian-form-izquierda form-group col-md-6">
          <label class="">Nombre</label>
          <input class="form-control" type="text" value="{{ employee.name}}" readonly>
        </div>
          
        <div class="Brazilian-form-derecha form-group col-md-6">
          <label class="">Apellido</label>
          <input class="form-control" type="text" value="{{ employee.lastname}}" readonly>
        </div>
          
        <div class="Brazilian-form-izquierda form-group col-md-6">
          <label class="">E-mail</label>
          <input class="form-control" type="email" value="{{ employee.email_address}}" readonly>
        </div>
          
        <div class="Brazilian-form-derecha form-group col-md-6">
          <label class="">Identificacion</label>
          <input class="form-control" type="text" value="{{ employee.employee_id}}" readonly>
        </div>

        <div class="Brazilian-form-izquierda form-group col-md-6">
          <label class="">Dirección</label>
          {{form.address(class="form-control form-control-md", type="text")}}
        </div>

        <div class="Brazilian-form-derecha form-group col-md-6">
          <label class="">Genero</label>
          <input class="form-control" type="text" value="{{ employee.gender}}" readonly>
        </div>  

        <div class="Brazilian-form-izquierda form-group col-md-6">
          <label class="">Dependencia</label>
          {{form.branch(class="form-control form-control-md")}}
        </div>
        
        <div class="Brazilian-form-derecha form-group col-md-6">
          <label class="">Cargo</label>
          {{form.job_title(class="form-control form-control-md")}}
        </div>

        <div class="Brazilian-form-izquierda form-group col-md-6">
          <label class="">Tipo de contrato</label>
          {{form.contract(class="form-control form-control-md", placeholder="Ej: Indefinido")}}
        </div>

        <div class="Brazilian-form-derecha form-group col-md-6">
          <label class="">Salario</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            {{form.salary(class="form-control form-control-md", placeholder="Ej: $2000")}}
            <div class="input-group-append">
              <span class="input-group-text">.00</span>
            </div>
          </div>
        </div>

        <div class="Brazilian-form-izquierda form-group col-md-6">
          <label class="">Fecha de inicio</label>
          {{form.contract_start(class="form-control form-control-md", type="date")}}
        </div>

        <div class="Brazilian-form-derecha form-group col-md-6">
          <label class="">Fecha de terminacion</label>
          {{form.contract_end(class="form-control form-control-md", type="date")}}
        </div>
        <br>
        {{form.submit(id="Brazilian-button",class="btn btn-block btn-success submit-button", type="submit") }}
      </form>
    </div>
  </div>
{% endblock %}