{% extends 'base.html' %}
{% block title %}
    Market
{% endblock %}
{% block content %}
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Barcode</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Your rows inside the table HERE: -->
                {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.barcode }}</td>
                        <td>{{ "$%.2f"|format(item.price) }}</td>
                        <td>
                            <button class="btn btn-outline btn-info">ℹ</button>
                            <button class="btn btn-outline btn-success">🛒</button>
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock %}