body, html {
  margin: 0;
  padding: 0;
}

.Brazilian-container {
  margin: 20px auto;
}


#Brazilian-checkout {
  z-index: 10;
  width: 700px;
  height: 100%;
  min-height: 100%;
  
  background: #deede6;
  border-radius: 8px;
  border: 1px solid #deedee;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

#Brazilian-checkout > h1 {
  margin: 0;
  padding: 20px;
  text-align: center;
  background: #deede6;
  color: #396651;
  font-size: 40px;
  font-weight: 300;
  border-radius: 8px;
}

.Brazilian-form {
  padding: 1.4em;
  margin: 0 25px 25px;
}

.Brazilian-form-izquierda {
  padding-right: 5px;
  float: left;
  width: 50%;
}

.Brazilian-form-derecha {
  padding-left: 5px;
  float: right;
  width: 50%;
}

.Brazilian-form label {
  color: #46545C;
  margin-bottom: 2px;
  display: block;
  font-size: 14px;
  font-size: medium;
  margin: 10px 0px 10px 0px;
}

.Brazilian-form input {
  box-shadow: none ;
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
  padding-left: 5px;
}

.Brazilian-form input:focus {
  border-color: #b0e5e3 ;
}

.Brazilian-form textarea {
  font-family: inherit;
  color: #46545C;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  border-radius: 0.25em;
  outline: none;
  border: 1px solid lightgray;
  background-color: white;
  padding: 5px;
  line-height: 20px;
  box-sizing: border-box;
  font-size: medium;
}

#Brazilian-button {
  max-width: 100px;
  margin: auto;
  outline: 0 ;
  height: 42px;
  font-size: large;
  background-color: #064254 ;
  border: none;
}

#Brazilian-button:hover {
  background-color: #1eb8b2 ;
}

#Brazilian-button:active {
  background-color: #4FBCB9 ;
}

#Brazilian-button:disabled {
  background: rgba(84, 199, 195, 0.5) t;
  color: #FFF t;
}

/*****MEDIA QUERYS******/
@media screen and (max-width: 680px) {
  #Brazilian-checkout {
    width: 95%;
  }

  .Brazilian-form {
    margin: 0;
  }
}
@media screen and (min-width: 681px) and (max-width: 1200px) {
  #Brazilian-checkout {
    width: 600px;
  }
}