@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400|Lora");
body {
  /* background: #CBC0D3; */  
  background: #dbbc82c7; 
  /* background: #3eabbd82; */
}

/* div box styling */
.container {
  margin: auto;
  width: 650px;
  height: 550px;
  position: relative;
}

.welcome {
  background: #f6f6f6;
  width: 650px;
  height: 415px;
  position: absolute;
  top: 25%;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.pinkbox {
  position: absolute;
  top: -10%;
  right: 5%;
  /* background: #EAC7CC; */
  /* background: #70abe7; */
  background: #dd650f;
  /* background: #17a2b8; */
  width: 320px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
  z-index: 2;
}

.nodisplay {
  display: none;
  transition: all 0.5s ease;
}

.leftbox, .rightbox {
  position: absolute;
  width: 50%;
  transition: 1s all ease;
}

.leftbox {
  left: -2%;
}

.rightbox {
  right: -2%;
}

/* font & button styling */
h1 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 95px;
  text-transform: uppercase;
  color: #f6f6f6;
  font-size: 2em;
  letter-spacing: 8px;
}

.title {
  font-family: "Lora", serif;
  color: #8E9AAF;
  font-size: 1.8em;
  line-height: 1.1em;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 300;
  margin-top: 20%;
}

.desc {
  margin-top: -8px;
}

.account {
  margin-top: 45%;
  font-size: 10px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7em;
  letter-spacing: 2px;
  color: #8E9AAF;
  text-align: center;
}

span {
  /* color: #EAC7CC; */
  /* color: #70abe7; */
  color: #dd650f;
}

.flower {
  position: relative;
  width: 200px;
  height: 200px;
  top: 46%;
  left: 19%;
  opacity: 0.7;
}

.smaller {
  width: 90px;
  height: 100px;
  top: 48%;
  left: 38%;
  opacity: 0.9;
}

.button {
  padding: 12px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 11px;
  border-radius: 10px;
  margin: auto;
  outline: none;
  display: block;
  width: 50%;
}
button:hover {
  /* background: #EAC7CC; */
  /* background: #70abe7; */
  background: #ff8f5a;
  color: #f6f6f6;
  transition: background-color 1s ease-out;
}

.button {
  margin-top: 3%;
  background: #f6f6f6;
  /* color: #ce7d88; */
  /* color:#4289cf; */
  color: #ff8f5a; 
  /* color: #17a2b8; */
  /* border: solid 1px #EAC7CC; */
  /* border: solid 1px #70abe7; */
  border: solid 1px #ff8f5a;
}

/* form styling */
form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 7px;
}

.more-padding {
  padding-top: 35px;
}
.more-padding input {
  padding: 12px;
}
.more-padding .submit {
  margin-top: 45px;
}

.submit {
  margin-top: 25px;
  padding: 12px;
  /* border-color: #ce7d88; */
  /* border-color: #4289cf; */
  border-color: #ff8f5a;
}
.submit:hover {
  /* background: #CBC0D3; */
  background: #dbbc82c7;
  border-color: #bfb1c9;
}

input {
  /* background: #EAC7CC; */
  /* background: #70abe7; */
  background: #ff8f5a;
  width: 65%;
  /* color: #ce7d88; */
  /* color:#4289cf; */
  color: #f6f6f6;
  
  border: none;
  border-bottom: 1px solid rgba(172, 102, 74, 0.5);
  padding: 9px;
  margin: 7px;
  
}
input::placeholder {
  color: #f6f6f6;
  letter-spacing: 2px;
  font-size: 1.3em;
  font-weight: 100;
}
input:focus {
  /* color: #ce7d88; */
  /* color:#4289cf; */
  color: #f6f6f6;
  outline: none;
  border-bottom: 1.2px solid rgba(8, 128, 150, 0.7);
  font-size: 1.3em;
  transition: 0.8s all ease;
}
input:focus::placeholder {
  opacity: 0;
  font-size: 1.3em;
}

label {
  font-family: "Open Sans", sans-serif;
  /* color: #ce7d88; */
  /* color:#4289cf; */
  color: #ff8f5a;
  font-size: 0.8em;
  letter-spacing: 1px;
}

.checkbox {
  display: inline;
  white-space: nowrap;
  position: relative;
  left: -62px;
  top: 5px;
}

input[type=checkbox] {
  width: 7px;
  /* background: #ce7d88; */
  /* color:#4289cf; */
  color: #ff8f5a;
}

.checkbox input[type=checkbox]:checked + label {
  /* color: #ce7d88; */
  /* color:#4289cf; */
  color: #ff8f5a;
  transition: 0.5s all ease;
}