{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="col-12">

            <div class="card">
                <div class="card-body">
                    <!-- <form autocomplete="off" onSubmit="buscar()"> -->
                        
                        <div class="form-row align-items-center">
                            <div class="col-sm-3 my-1"></div>
                            <div class="col-sm-3 my-1">
                                <label class="sr-only" for="inlineFormInputName">Nombre</label>
                                <input type="text" class="form-control" id="inlineFormInputName" placeholder="Nombre..">
                            </div>
                            <div class="col-sm-3 my-1">
                                <label class="sr-only" for="inlineFormInputName">Documento</label>
                                <input type="text" class="form-control" id="inlineFormInputDocument" placeholder="Documento..">
                            </div>
                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-sm-5 my-1"></div>
                            <div class="col-sm-2 my-1" style="text-align: -webkit-center;">
                                <button type="submit" class="btn btn-primary" onclick="buscar()">Buscar</button>
                                <!-- <input class="button submit btn btn-primary" id="submit" name="submit" value="Ingresar"> -->
                            </div>
                            <div class="col-sm-4 my-1"></div>
                            <div class="col-sm-1 my-1">
                                <div class="fw-icons"><a href="signup"><i class="fa fa-user-plus"></i> </a></div>
                            </div>
                        </div>
                    <!-- </form> -->
                </div>
                
                <div class="card-body contentBuscar" id="contentBuscar">
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-hover progress-table text-center">
                                <thead class="text-uppercase">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Documento</th>
                                        <th scope="col">Cargo</th>
                                        <th scope="col">action</th>
                                    </tr>
                                </thead>
                                <!-- El modelo no tiene documento :'c-->
                 
                                <tbody>
                                    {% for i in range(numbers)%}
                                
                                        <tr>
                                            <th scope="row">{{i+1}}</th>
                                            <td>{{ employees[i].name }}</td>
                                            <td>{{ employees[i].employee_id}}</td>
                                            <td>{{ employees[i].job}}</td>
                                            <td>
                                                <ul class="d-flex justify-content-center">
                                                    <li class="mr-3"><a href="#" class="text-secondary" data-toggle="modal" data-target="#editEmp{{employees[i].email}}"><i class="fa fa-edit"></i></a></li>
                                                    <li class="mr-3"><a href="#" class="text-danger" data-toggle="modal" data-target="#delete{{employees[i].email}}"><i class="ti-trash"></i></a></li>
                                                    <li class="mr-3"><a href="#" class="" data-toggle="modal" data-target="#createRetro"><i class="fa fa-rupee"></i></a></li>
                                                    <li class="mr-3"><a href="#" class="" data-toggle="modal" data-target="#exampleContra"><i class="fas fa-star"></i></a></li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <div class="modal fade" id="delete{{employees[i].email}}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Eliminar Empleado</h5>
                                                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Desea eliminar el empleado?
                                                        </p><p>{{employees[i].email}}</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                        <form  method="post"> 
                                                            <input type="hidden" name="delete_email" value={{employees[i].email}}>
                                                            <button type="submit" class="btn btn-primary">OK</button></form>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="editEmp{{employees[i].email}}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Editar empleado</h5>
                                                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                                    </div>
                                                    
                                                    <div class="modal-body">
                                                        <form class="Brazilian-form" action="submit">
                                                            {{ form.csrf_token()         }}
                                                            {{ form.hidden_tag() }}
                                                            
                                                            <div class="Brazilian-form-izquierda form-group">
                                                              <label class="">Nombre</label>
                                                              
                                                              {{form.name(class="form-control" ,value=employees[i].name)}}
                                                            </div>
                                                              
                                                            <div class="Brazilian-form-derecha form-group">
                                                              <label class="">Apellido</label>
                                                              {{form.lastname(class="form-control" ,value=employees[i].lastname)}}
                                                            </div>
                                                              
                                                            <div class="Brazilian-form-izquierda form-group">
                                                              <label class="">E-mail</label>
                                                              {{form.email_address(class="form-control" ,value=employees[i].email)}}
                                                            </div>
                                                              
                                                            <div class="Brazilian-form-derecha form-group">
                                                              <label class="">Identificacion</label>
                                                              {{form.employee_id(class="form-control" ,value=employees[i].employee_id)}}
                                                            </div>
                                                              
                                                            <div class="Brazilian-form-izquierda form-group">
                                                              <label class="">Dirección</label>
                                                              {{form.address(class="form-control" ,value=employees[i].address)}}
                                                            </div>
                                                              
                                                            <div class="Brazilian-form-derecha form-group">
                                                              <label class="">Genero</label>
                                                              {{form.gender(class="form-control",value="F"  )}}
                                                            </div>  
                                                            <div class="Brazilian-form-izquierda form-group">
                                                              <label class="">Dependencia</label>
                                                              {{form.branch(class="form-control"  )}}
                                                            </div>  
                                                            <div class="Brazilian-form-derecha form-group">
                                                              <label class="">Cargo</label>
                                                              {{form.job_title(class="form-control" )}}
                                                            </div>  
                                                              
                                                            <div class="Brazilian-form-izquierda form-group">
                                                              <label class="">Tipo de contrato</label>
                                                              {{form.contract(class="form-control" )}}
                                                            </div>  
                                                            <div class="Brazilian-form-derecha form-group">
                                                              <label class="">Salario</label>
                                                              {{form.salary(class="form-control" )}}
                                                            </div>
                                                            <div class="Brazilian-form-derecha form-group">
                                                              <label class="">Fecha de inicio</label>
                                                              {{form.contract_start(class="form-control" )}}
                                                            </div> 
                                                            <div class="Brazilian-form-izquierda form-group">
                                                              <label class="">Fecha de terminacion</label>
                                                              {{form.contract_end(class="form-control" )}}
                                                            </div>   
                                                      
                                                            <button id="Brazilian-button" class="btn btn-block btn-success submit-button" type="submit">
                                                              <span class="submit-button-lock"></span>
                                                              <span class="align-middle">Guardar</span>
                                                            </button>
                                                      
                                                        </form>
                                                        
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                     
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- <button type="button" class="btn btn-primary btn-flat btn-lg mt-3" data-toggle="modal" data-target="#exampleModalLong">Launch demo modal</button> -->
                <!-- Modal -->
                
                

                <div class="modal fade" id="exampleContra">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Cambiar Contraseña</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <form class="Brazilian-form" action="submit">
        
                                    
                                    <div class="form-group">
                                      <label class="">Contraseña Vieja</label>
                                      <input class="form-control"  type="number" required>
                                      <label class="">Contraseña Nueva</label>
                                      <input class="form-control" type="number" required>
                                      <label class="">Confirmar Contraseña</label>
                                      <input class="form-control" type="number" required>
                                      
                                    </div>
                                    <button id="Brazilian-button" class="btn btn-block btn-success submit-button" type="submit">
                                        <span class="submit-button-lock"></span>
                                        <span class="align-middle">Guardar</span>
                                      </button>
                              
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="createRetro">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            
                            <div class="modal-header">
                                <h5 class="modal-title">Retroalimentar</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            </div>

                            <div class="modal-body">
                                <form class="Brazilian-form" action="submit">
        
                                    <div class="Brazilian-form-izquierda form-group">
                                      <label class="">Desempeño</label>
                                      <input class="form-control"  type="text" required>
                                    </div>
                                      
                                    <div class="Brazilian-form-derecha form-group">
                                      <label class="">Puntaje</label>
                                      <input class="form-control" type="number" required>
                                    </div>
                                      
                                    <div class="form-group">
                                      <label class="">Mensaje</label>
                                      <textarea name="mensaje-retroalimentacion"></textarea>
                                    </div>
                                      
                                    <button id="Brazilian-button" class="btn btn-block btn-success submit-button" type="submit">
                                      <span class="submit-button-lock"></span>
                                      <span class="align-middle">Guardar</span>
                                    </button>
                              
                                  </form>
                            </div>

                        </div>
                    </div>
                </div>


                

            </div>
        </div>
    </div>
{% endblock %}