{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-12">
        <div class="card">

            <!-- Header of the main content -->
            <div class="card-header">
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputName">Nombre</label>
                        <input type="text" class="form-control" id="inlineFormInputName" placeholder="Nombre..">
                    </div>

                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputName">Documento</label>
                        <input type="text" class="form-control" id="inlineFormInputDocument" placeholder="Documento..">
                    </div>
                    
                    <div class="col-auto" style="text-align: -webkit-center;">
                        <button type="button" class="btn btn-primary" onclick="buscar()">Buscar</button>    
                    </div>

                    <div class="col-auto" style="text-align: -webkit-center;">
                        <a href="/signup"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create_employer"><i class="fa fa-user-plus"></i> Crear</button></a>    
                    </div>
                    <div class="col-auto">
                      {% with messages = get_flashed_messages(category_filter=["info"]) %}
                      {% if messages %}
                          <ul class=flashes>
                          {% for message in messages %}
                          <li style="color: green;">*{{ message }}</li>
                          {% endfor %}
                          </ul>
                      {% endif %}
                  {% endwith %}</div>
                </div>
            </div>

            <div class="card-body">                
                <div class="card-body contentBuscar" id="contentBuscar">
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-hover progress-table text-center">
                                <thead class="text-uppercase">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Documento</th>
                                        <th scope="col">Cargo</th>
                                        <th scope="col">action</th>
                                    </tr>
                                </thead>
                                <!-- El modelo no tiene documento :'c-->
                 
                                <tbody>
                                    {% for i in range(numbers)%}
                                
                                        <tr>
                                            <th scope="row">{{i+1}}</th>
                                            <td>{{ employees[i].name }}</td>
                                            <td>{{ employees[i].employee_id}}</td>
                                            <td>{{ employees[i].job}}</td>
                                            <td>
                                                <ul class="d-flex justify-content-center">
                                                    <li class="mr-3"><a href="#" class="text-secondary" data-toggle="modal" data-target="#editEmp{{employees[i].email}}"><i class="fa fa-edit"></i></a></li>
                                                    <li class="mr-3"><a href="#" class="text-danger" data-toggle="modal" data-target="#delete{{employees[i].email}}"><i class="ti-trash"></i></a></li>
                                                    <li class="mr-3"><a href="#" class="" data-toggle="modal" data-target="#createRetro"><i class="fa fa-rupee"></i></a></li>
                                                    <li class="mr-3"><a href="#" class="" data-toggle="modal" data-target="#exampleContra"><i class="fas fa-star"></i></a></li>
                                                </ul>
                                            </td>
                                        </tr>

                                        <!-- MODAL DELETE EMPLOYEE -->
                                        <div class="modal fade" id="delete{{employees[i].email}}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Eliminar Empleado</h5>
                                                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Desea eliminar el empleado?
                                                        </p><p>{{employees[i].email}}</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                        <form  method="post"> 
                                                            {{form2.email(type="hidden",value=employees[i].email)}}
                                                            <input type="hidden" name="delete_email" value={{employees[i].email}}>
                                                            {{form2.submit2( class="btn btn-primary") }}
                                                            <!-- <button type="submit" class="btn btn-primary">OK</button></form> -->
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade" id="editEmp{{employees[i].email}}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Editar empleado</h5>
                                                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                                                    </div>
                                                    
                                                    <div class="modal-body">
                                                        <form class="Brazilian-form" action="submit">
                                                            {{ form.csrf_token()         }}
                                                            {{ form.hidden_tag() }}
                                                            
                                                            <div class="Brazilian-form-izquierda form-group">
                                                              <label class="">Nombre</label>
                                                              
                                                              {{form.name(class="form-control" ,value=employees[i].name)}}
                                                            </div>
                                                              
                                                            <div class="Brazilian-form-derecha form-group">
                                                              <label class="">Apellido</label>
                                                              {{form.lastname(class="form-control" ,value=employees[i].lastname)}}
                                                            </div>
                                                              
                                                            <div class="Brazilian-form-izquierda form-group">
                                                              <label class="">E-mail</label>
                                                              {{form.email_address(class="form-control" ,value=employees[i].email)}}
                                                            </div>
                                                              
                                                            <div class="Brazilian-form-derecha form-group">
                                                              <label class="">Identificacion</label>
                                                              {{form.employee_id(class="form-control" ,value=employees[i].employee_id)}}
                                                            </div>
                                                              
                                                            <div class="Brazilian-form-izquierda form-group">
                                                              <label class="">Dirección</label>
                                                              {{form.address(class="form-control" ,value=employees[i].address)}}
                                                            </div>
                                                              
                                                            <div class="Brazilian-form-derecha form-group">
                                                              <label class="">Genero</label>
                                                              {{form.gender(class="form-control",value="F"  )}}
                                                            </div>  
                                                            <div class="Brazilian-form-izquierda form-group">
                                                              <label class="">Dependencia</label>
                                                              {{form.branch(class="form-control"  )}}
                                                            </div>  
                                                            <div class="Brazilian-form-derecha form-group">
                                                              <label class="">Cargo</label>
                                                              {{form.job_title(class="form-control" )}}
                                                            </div>  
                                                              
                                                            <div class="Brazilian-form-izquierda form-group">
                                                              <label class="">Tipo de contrato</label>
                                                              {{form.contract(class="form-control" )}}
                                                            </div>  
                                                            <div class="Brazilian-form-derecha form-group">
                                                              <label class="">Salario</label>
                                                              {{form.salary(class="form-control" )}}
                                                            </div>
                                                            <div class="Brazilian-form-derecha form-group">
                                                              <label class="">Fecha de inicio</label>
                                                              {{form.contract_start(class="form-control" )}}
                                                            </div> 
                                                            <div class="Brazilian-form-izquierda form-group">
                                                              <label class="">Fecha de terminacion</label>
                                                              {{form.contract_end(class="form-control" )}}
                                                            </div>   
                                                      
                                                            <button id="Brazilian-button" class="btn btn-block btn-success submit-button" type="submit">
                                                              <span class="submit-button-lock"></span>
                                                              <span class="align-middle">Guardar</span>
                                                            </button>
                                                      
                                                        </form>
                                                        
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                     
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- <button type="button" class="btn btn-primary btn-flat btn-lg mt-3" data-toggle="modal" data-target="#exampleModalLong">Launch demo modal</button> -->
                <!-- Modal -->
                
                

                <div class="modal fade" id="exampleContra">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Cambiar Contraseña</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <form class="Brazilian-form" action="submit">
        
                                    
                                    <div class="form-group">
                                      <label class="">Contraseña Vieja</label>
                                      <input class="form-control"  type="number" required>
                                      <label class="">Contraseña Nueva</label>
                                      <input class="form-control" type="number" required>
                                      <label class="">Confirmar Contraseña</label>
                                      <input class="form-control" type="number" required>
                                      
                                    </div>
                                    <button id="Brazilian-button" class="btn btn-block btn-success submit-button" type="submit">
                                        <span class="submit-button-lock"></span>
                                        <span class="align-middle">Guardar</span>
                                      </button>
                              
                                  </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="createRetro">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            
                            <div class="modal-header">
                                <h5 class="modal-title">Retroalimentar</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            </div>

                            <div class="modal-body">
                                <form class="Brazilian-form" action="submit">
        
                                    <div class="Brazilian-form-izquierda form-group">
                                      <label class="">Desempeño</label>
                                      <input class="form-control"  type="text" required>
                                    </div>
                                      
                                    <div class="Brazilian-form-derecha form-group">
                                      <label class="">Puntaje</label>
                                      <input class="form-control" type="number" required>
                                    </div>
                                      
                                    <div class="form-group">
                                      <label class="">Mensaje</label>
                                      <textarea name="mensaje-retroalimentacion"></textarea>
                                    </div>
                                      
                                    <button id="Brazilian-button" class="btn btn-block btn-success submit-button" type="submit">
                                      <span class="submit-button-lock"></span>
                                      <span class="align-middle">Guardar</span>
                                    </button>
                              
                                  </form>
                            </div>

                        </div>
                    </div>
                </div>
       
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="create_employer">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- MODAL PARA CREAR EMPLEADO -->
            <div class="modal-header">
                <h5 class="modal-title">Crear empleado</h5>
                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
            </div>

            <div class="modal-body">
                <form class="Brazilian-form" method="POST">
                    {{ form.csrf_token }}
                    {{ form.hidden_tag() }}
                  
                    <div class="Brazilian-form-izquierda form-group col-md-6">
                      <label class="">Nombre</label>
                      {{form.name(class="form-control form-control-md", placeholder="Ej: Juan")}}
                    </div>
                      
                    <div class="Brazilian-form-derecha form-group col-md-6">
                      <label class="">Apellido</label>
                      {{form.lastname(class="form-control form-control-md", placeholder="Ej: Perez")}}
                    </div>
                      
                    <div class="Brazilian-form-izquierda form-group col-md-6">
                      <label class="">E-mail</label>
                      {{form.email_address(class="form-control form-control-md", placeholder="usuario@micorreo.com")}}
                    </div>
                      
                    <div class="Brazilian-form-derecha form-group col-md-6">
                      <label class="">Identificacion</label>
                      {{form.employee_id(class="form-control form-control-md", placeholder="Ej: 1629")}}
                    </div>
                      
                    <div class="Brazilian-form-izquierda form-group col-md-6">
                      <label class="">Dirección</label>
                      {{form.address(class="form-control form-control-md", placeholder="Ej: Juramento")}}
                    </div>
                      
                    <div class="Brazilian-form-derecha form-group col-md-6">
                      <label class="">Genero</label>
                      {{form.gender(class="form-control form-control-md")}}
                    </div>  
                    <div class="Brazilian-form-izquierda form-group col-md-6">
                      <label class="">Dependencia</label>
                      {{form.branch(class="form-control form-control-md")}}
                    </div>  
                    <div class="Brazilian-form-derecha form-group col-md-6">
                      <label class="">Cargo</label>
                      {{form.job_title(class="form-control form-control-md")}}
                    </div>  
                      
                    <div class="Brazilian-form-izquierda form-group col-md-6">
                      <label class="">Tipo de contrato</label>
                      {{form.contract(class="form-control form-control-md", placeholder="Ej: Indefinido")}}
                    </div>  
            
                    <div class="Brazilian-form-derecha form-group col-md-6">
                      <label class="">Salario</label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                        </div>
                        {{form.salary(class="form-control form-control-md", placeholder="Ej: $2000")}}
                        <div class="input-group-append">
                          <span class="input-group-text">.00</span>
                        </div>
                      </div>
                    </div>
            
                    <div class="Brazilian-form-derecha form-group col-md-6">
                      <label class="">Fecha de terminacion</label>
                      {{form.contract_end(class="form-control form-control-md", type="date")}}
                    </div> 
                    <div class="Brazilian-form-izquierda form-group col-md-6">
                      <label class="">Fecha de inicio</label>
                      {{form.contract_start(class="form-control form-control-md", type="date")}}
                    </div>  
                    <div class="Brazilian-form-izquierda form-group col-md-6">
                      <label class="">Contrasena</label>
                      {{form.password1(class="form-control form-control-md", placeholder="ContrasenaMuySegura123")}}
                    </div> 
                    <div class="Brazilian-form-derecha form-group col-md-6">
                      <label class=""> Confirma la Contrasena</label>
                      {{form.password2(class="form-control form-control-md", placeholder="ContrasenaMuySegura123")}}
                    </div> 
                    
                    <br> 
                    {{form.submit(id="Brazilian-button",class="btn btn-block btn-success submit-button") }} 
   
                  </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}