<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/log.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>

<body>

    <!-- partial:index.partial.html -->
    <div class="container">
        <div class="welcome">

            <div class="pinkbox">
                
                <div class="signin">
                    <h1>Login</h1>

                    <form action=""  class="more-padding" method="post" novalidate>
                        {{ form.hidden_tag() }}

                        <div class="form-block">
                            {{ form.email.label }}
                            {{ form.email }}
                            
                            {% for error in form.email.errors %}
                                <span class="form-error">{{ error }}</span>
                            {% endfor %}
                        </div>
                        
                        <div class="form-block">
                            {{ form.password.label }}
                            {{ form.password }}

                            {% for error in form.password.errors %}
                                <span class="form-error"">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <div class="checkbox">{{ form.remember_me() }} {{ form.remember_me.label }}</div>
                        
                        <div cla> {{ form.submit() }} </div>
                </div>
            </div>
            <div class="leftbox">
                <h2 class="title"><span>BRAZILIAN</span><br>FAST FOOD</h2>
                
                <img class="flower" src="../static/images/pngwing.com.png" />
                <!-- <p class="account"></p> -->
                <!-- <button class="button" id="signup">sign up</button> -->
            </div>
            <!-- <div class="rightbox">
                <h2 class="title"><span>BLOOM</span>&<br>BOUQUET</h2>
                <p class="desc">pick your perfect <span>bouquet</span></p>
                <img class="flower smaller" src="https://image.ibb.co/d5X6pn/1357d638624297b.jpg" alt="1357d638624297b">
                <p class="account">have an account?</p>
                <button class="button" id="signin">login</button>
            </div> -->
            
        </div>
    </div>

    </div>
    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <!-- <script src="../script.js"></script> -->

</body>

</html>