{% extends "base.html" %}
{% block content %}

    <div id="Brazilian-checkout"><H1>DESEMPEÑO</H1></div>
    <div id="Brazilian-checkout" class="circular-bar">
        <div class="skill  ">
            <div class="outer">
                <div class="inner">
                    <div id="number"></div>
                </div>
            </div>

            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px" >
                <defs>
                   <linearGradient id="GradientColor1">
                    <stop offset="0%" stop-color="#e91e1e" />
                    <stop offset="100%" stop-color="#b73a3a" />
                   </linearGradient>
                   <linearGradient id="GradientColor2">
                    <stop offset="0%" stop-color="#cde91e" />
                    <stop offset="100%" stop-color="#f0f91c" />
                    </linearGradient>
                    <linearGradient id="GradientColor3">
                        <stop offset="0%" stop-color="#19a200" />
                        <stop offset="100%" stop-color="#88e91e" />
                        </linearGradient>
                </defs>
                <circle cx="80" cy="80" r="70" stroke-linecap="round"  transform="rotate(-90 80 80)"
                 fill=none  />
            </svg>
        </div>
    </div>


    <DIV id="Brazilian-checkout">
        <div class="Brazilian-form">
            <label for="feedback-text" style="font-weight: bold;">Feedback:</label>
        <textarea name="" id="feedback-text" cols="30" rows="10" disabled>{{feedback}}</textarea>
        </div>
        
    </DIV>
    
        <script>
            
            if('{{score}}'<=30){
                $('circle').attr('stroke', 'url(#GradientColor1)');
            }
            else if ('{{score}}'>30 & '{{score}}'<70){
                $('circle').attr('stroke', 'url(#GradientColor2)');
            }
            else if ('{{score}}'>=70){
                $('circle').attr('stroke', 'url(#GradientColor3)');
            }

            let number = document.getElementById("number")
            let counter= 0;
            setInterval(()=>{
                if (counter=='{{score}}'){
                    clearInterval();
                    
                }else{
                    counter += 1;
                    number.innerHTML = counter;
                    
                }
            },30);
        </script>


{% endblock %}