{% extends "base.html" %}
{% block content %}
  <div class="Brazilian-container">
    <div class="card" id="Brazilian-checkout">
      
      <div class="card-header">
        <h5>Perfil De Empleado</h5>
      </div>

      <div class="card-body">
        <form class="Brazilian-form" >

          <div class="Brazilian-form-izquierda form-group col-md-6">
            <label class="">Nombre</label>
            {{employee.name}}
          </div>
            
          <div class="Brazilian-form-derecha form-group col-md-6">
            <label class="">Apellido</label>
            {{employee.lastname}}
          </div>
            
          <div class="Brazilian-form-izquierda form-group col-md-6">
            <label class="">E-mail</label>
            {{employee.email}}
          </div>
            
          <div class="Brazilian-form-derecha form-group col-md-6">
            <label class="">Identificacion</label>
            {{employee.employee_id}}
          </div>
            
          <div class="Brazilian-form-izquierda form-group col-md-6">
            <label class="">Dirección</label>
            {{employee.address}}
          </div>
            
          <div class="Brazilian-form-derecha form-group col-md-6">
            <label class="">Genero</label>
            {{employee.gender}}
          </div>  
          <div class="Brazilian-form-izquierda form-group col-md-6">
            <label class="">Dependencia</label>
            {{employee.branch}}
          </div>  
          <div class="Brazilian-form-derecha form-group col-md-6">
            <label class="">Cargo</label>
            {{employee.job}}
          </div>  
            
          <div class="Brazilian-form-izquierda form-group col-md-6">
            <label class="">Tipo de contrato</label>
            {{employee.contract}}
          </div>  

          <div class="Brazilian-form-derecha form-group col-md-6">
            <label class="">Salario</label>
            {{employee.salary}}
          
          </div>

          <div class="Brazilian-form-derecha form-group col-md-6">
            <label class="">Fecha de terminacion</label>
            {{employee.start}}
          </div> 
          <div class="Brazilian-form-izquierda form-group col-md-6">
            <label class="">Fecha de inicio</label>
            {{employee.end}}
          </div>  
          <br> 
          <button type="hidden"></button>
        </form>
      </div>
      <div class="card-body">                
        <div class="card-body " id="">
            <div class="single-table">
                <div class="table-responsive">
                    <table class="table table-hover progress-table text-center">
                        <thead class="text-uppercase">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Score</th>
                                <th scope="col">Feedback</th>
                                <th scope="col">Fecha</th>
                            </tr>
                        </thead>
                        <!-- El modelo no tiene documento :'c-->
                        <tbody>
                            {% for i in range(numbers)%}
                        
                                <tr>
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{ perform[i].score }}</td>
                                    <td>{{ perform[i].comment}}</td>
                                    <td>{{ perform[i].date}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
    </div> 
  </div>
{% endblock %}